name: CMake build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Setup APT dependencies
      run: sudo apt-get update && sudo apt-get install -y gcc-multilib
    - uses: actions/checkout@v3
    - name: Configure project (default)
      run: mkdir build && cd build && cmake ..
    - name: Build
      run: cd build && make -j4 && make install
    - name: Post-Processing
      run: ./benchexec-extras/clean.sh ./build/export
    - uses: actions/upload-artifact@v4
      with:
        name: benchmarks_default
        path: ./build/export

  build_with_core_math:
    runs-on: ubuntu-latest
    steps:
    - name: Setup APT dependencies
      run: sudo apt-get update && sudo apt-get install -y gcc-multilib
    - uses: actions/checkout@v3
    - name: Configure project (with core-math model)
      run: mkdir build && cd build && cmake -DMATH_OP_MODEL=core_math ..
    - name: Build
      run: cd build && make -j4 && make install
    - name: Post-Processing
      run: ./benchexec-extras/clean.sh ./build/export
    - uses: actions/upload-artifact@v4
      with:
        name: benchmarks_with_core_math
        path: ./build/export
